# Buildozer files
.buildozer/
bin/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log

# Virtual environments
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kivy
*.kv.bak
